* { padding:0;margin:0; }
body {
	background-color:hsl(100,30%,90%);
	font-family:segui,arial;
	color:hsl(100,30%,4%);
}

p {
	padding: 5px 0;
}
/* navi */
#navi li a {
	text-decoration:none;
	color:hsl(100,30%,10%);
	font-family:Century Gothic,sans;
	font-size:0.8em;
}
#navi li:hover{
	cursor:pointer;
	background-color:hsl(100,30%,10%);
}
#navi li:hover a{
	color:hsl(100,30%, 80%);
}
#kopf {
	background-color:hsl(100,75%,20%);
	color:hsl(100,50%,80%);
	padding:2px 5px;
	font-family:Century Gothic,sans;
	font-variant:small-caps;
	letter-spacing:4px;
}
#page {
	max-width: 900px;
	margin: 0px auto;
	overflow:auto;
	background:url(images/wrapper-back.png) repeat-y;
}
.content {
	margin: 0 auto 53px;
	width:900px;
}
	.content #haupt {
		font-size: 0.8em;
		width: 566px;
		float:right;
	}
		.content #haupt form {
			padding:10px;
		}
	.content #navi {
		float:left;
		width: 310px;
	}
		.content #navi ul {
			padding:10px;
			width:100%;
		}
	.content #navi li{
		text-decoration:none;
		list-style:none;
	}
input[type=text],
input[type=password],
input[type=submit],
input[type=button],
input[type=select],
fieldset {
	border:hsl(100,80%,10%) 1.5px solid;
	-webkit-border-radius:2px; -moz-border-radius: 2px; border-radius: 2px;
	padding: 5px;
}

input[type=submit] { width:100px; }


dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: hsl(30;100%,20%);
}
dt:after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

.table-content tr:hover {
	background-color:hsl(30,90%,90%);
}

.table-content .header,
.table-content .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	background-color: hsl(30,100%,75%);
	cursor: pointer;
	padding: 4px 20px 4px 4px;
}

.table-content thead .headerSortUp,
.table-content thead .tablesorter-headerSortUp,
.table-content thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.table-contentt thead .headerSortDown,
.table-content thead .tablesorter-headerSortDown,
.table-content thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.table-content thead .sorter-false {
	background-image: none;
}
